body{
    
margin: 0px;
background-color: rgb(247, 241, 241);

}
img{
    height:1500px ;height: 300px;
}
header{
text-align: center;
font-family: Optima, sans-serif;
color: rgb(126, 122, 122);
}

nav{

    
}

.titulo1{
     font-family: Optima, sans-serif;
    
}